body {
	color: #ffffff;
	margin: 0px;
	padding: 0px;
	background-color: #0050ef !important;
}
a {
	font-size: 13px;
	color: #ffffff;
	text-decoration: none;	
}
.footer {
	color: #ffffff;
	padding: 30px 0;
	margin-top: 5%;
}