

body,div,h5,ul,li{margin:0;padding:0;}
body{font:12px/1.5 Arial;}
li{list-style:none;}
a:link,a:visited{color:#333;text-decoration:none;}
a:hover{text-decoration:underline;}
#wrap{width:320px;border-width:3px 0;margin:0px auto;height: 380px;}
#list{overflow:hidden;zoom:1;margin-left:-100px;}
#wrap .item{display:inline;float:left;width:280px;padding-bottom:10px;border:1px solid #EBEBEB;margin:10px 0 10px 10px;}
#wrap .item .tab{position:relative;height:20px;border-bottom:1px solid #CCC;margin:8px;}
#wrap .item .tab h5{position:absolute;left:10px;font-size:14px;}
#wrap .item .tab .switchBtn{position:absolute;top:3px;right:0;}
#wrap .item .tab .switchBtn a{float:left;width:15px;height:15px;margin-left:5px;overflow:hidden;text-indent:-999px;background:url(/web/resources/images/zxdc/icon_arr.gif) no-repeat;outline:none;}
#wrap .item .tab .switchBtn a.prev{background-position:0 -25px;}
#wrap .item .tab .switchBtn a.prevNot{background-position:0 0;cursor:default;}
#wrap .item .tab .switchBtn a.next{background-position:right -25px;}
#wrap .item .tab .switchBtn a.nextNot{background-position:right 0;cursor:default;}
#wrap .item .tab ul{position:absolute;top:-2px; width:200px;height:24px;overflow:hidden;margin-left: 10px;}
#wrap .item .tab ul li{float:left;cursor:pointer;line-height:20px;padding:0 8px;}
#wrap .item .tab ul li.current{cursor:text;color:#E45E2E;font-weight:700;border:1px solid #CCC;border-bottom-color:#FFF;}

#wrap .item .items a{color:#3A64B0;}
#wrap .item .items li{height:17px;line-height:17px;padding-left:20px;border-bottom:1px solid #EBEBEB;}
#wrap .item .btn{height:22px;margin-top:10px;}
#wrap .item .btn a{float:right;width:74px;height:22px;overflow:hidden;margin-right:15px;text-indent:-9999px;background:url(/web/resources/images/zxdc/icon_btn.gif) no-repeat;}
#wrap .item .btn a:hover{background-position:0 -22px;}

.c-index {
    display: inline-block;
    padding: 1px 0;
    color: #fff;
    width: 14px;
    line-height: 100%;
    font-size: 12px;
    text-align: center;
    background-color: #8eb9f5;
}
.c-gap-icon-right-small {
    margin-right: 5px;
}
.c-index-hot, .c-index-hot1 {
    background-color: #f54545;
}
.c-index-hot2 {
    background-color: #ff8547;
}
.c-index-hot3 {
    background-color: #ffac38;
}